@*ProductDetailSection's default view.*@

@model ProductDto

@{
    // Formats the product's price for display
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var priceFormat = String.Format(format, "{0:c0}", @Model.Price);
    var price = priceFormat.Remove(priceFormat.Length - 2);
    var currencySymbol = priceFormat[priceFormat.Length - 1];
}

<div class="row mt-5 px-2">
    <div class="col-4">
        <div class="row">
            <div class="col-2 ps-4 pe-0">
                @if (Model.Images.Any())
                {
                    foreach(var image in Model.Images)
                    {
                        <div class="row mb-3">
                            <img src="@ImageDataHelper.GetImageSource(image.Data)" class="card card-img-top" alt="image">
                        </div>
                    }
                    
                }
                else
                {
                    <img src="#" class="card-img-top" alt="product-image">
                }
            </div>

            @*Product image*@
            <div class="col-10 px-4">
                <div class="image-container p-2 round-border-l">
                    @if (Model.Images.Any())
                    {
                        // Take the first image as the representative image
                        <img src="@ImageDataHelper.GetImageSource(Model.Images.First().Data)" class="card-img-top" alt="product-image">
                    }
                    else
                    {
                        <img src="#" class="card-img-top" alt="product-image">
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-8 product-details">
        <div class="row justify-content-between">
            <div class="col-8">
                @*Product name*@
                <div class="row">
                    <h4 class="secondary-text-color">@Model.Name</h4>
                    <div class="ms-auto text-warning">
                        <span class="customer-review-score">@Model.ScoreSummary.AverageScore</span>
                        @await Component.InvokeAsync("CustomerReviewScore", Model.ScoreSummary.AverageScore)
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <p class="product-price">@price<sup>@currencySymbol</sup></p>

                    @*Product details*@
                    @if (Model.Details.Any())
                    {
                        <h5>Product details</h5>
                        foreach (var detail in Model.Details)
                        {
                            <div class="col-4">
                                <span><b>@detail.Name</b></span>
                            </div>
                            <div class="col-8">
                                <span>@detail.Description</span>
                            </div>
                        }
                    }
                </div>

                @if (Model.Descriptions.Any())
                {
                    <hr />
                    <div class="row">
                        @*Product descriptions*@
                        <h5>About this item</h5>
                        <ul>
                            @foreach (var description in Model.Descriptions)
                            {
                                <li>@description</li>
                            }
                        </ul>
                    </div>
                }
            </div>
            @*Purchase descriptions*@
            <form class="col-3">
                <div class="card round-border-l">
                    <div class="card-body d-flex flex-column justify-content-start">
                        <p class="product-price">@price<sup>@currencySymbol</sup></p>

                        @if (Model.Quantity > 0)
                        {
                            <h5 class="in-stock-text">In Stock <span>(@Model.Quantity available)</span></h5>

                            <div class="input-group align-items-center mb-2">
                                <span>Quantity:</span>
                                <input type="number" id="quantity" class="form-control round-border-l mx-1" />
                            </div>

                            <button class="secondary-button round-border-xl w-100 mb-2" type="submit">Add to Cart</button>
                            <button class="tertiary-button round-border-xl w-100" type="submit">Pay Now</button>
                        }
                        else
                        {
                            <h5 class="out-of-stock-text">Out Of Stock</h5>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

