@*CustomerReviewScoreSummary's default view*@

@model CustomerReviewScoreSummary

<div class="row mt-2">
    <span class="customer-review-score secondary-text-color">@Model.TotalReviews ratings</span>
</div>

@*5 star*@
<div class="row justify-content-center align-items-center mt-2">
    <div class="col-2 pe-0 d-flex align-items-center">
        <p class="customer-review-score m-0">5 star</p>
    </div>
    <div class="col-8 px-0">
        <div class="progress px-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning" style="width: @Model.FiveStarPercentage%"></div>
        </div>
    </div>
    <div class="col-2 ps-0 d-flex align-items-center justify-content-end">
        <p class="customer-review-score m-0">@Model.FiveStarPercentage%</p>
    </div>
</div>

@*4 star*@
<div class="row justify-content-center align-items-center mt-2">
    <div class="col-2 pe-0 d-flex align-items-center">
        <p class="customer-review-score m-0">4 star</p>
    </div>
    <div class="col-8 px-0">
        <div class="progress px-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning" style="width: @Model.FourStarPercentage%"></div>
        </div>
    </div>
    <div class="col-2 ps-0 d-flex align-items-center justify-content-end">
        <p class="customer-review-score m-0">@Model.FourStarPercentage%</p>
    </div>
</div>

@*3 star*@
<div class="row justify-content-center align-items-center mt-2">
    <div class="col-2 pe-0 d-flex align-items-center">
        <p class="customer-review-score m-0">3 star</p>
    </div>
    <div class="col-8 px-0">
        <div class="progress px-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning" style="width: @Model.ThreeStarPercentage%"></div>
        </div>
    </div>
    <div class="col-2 ps-0 d-flex align-items-center justify-content-end">
        <p class="customer-review-score m-0">@Model.ThreeStarPercentage%</p>
    </div>
</div>

@*2 star*@
<div class="row justify-content-center align-items-center mt-2">
    <div class="col-2 pe-0 d-flex align-items-center">
        <p class="customer-review-score m-0">2 star</p>
    </div>
    <div class="col-8 px-0">
        <div class="progress px-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning" style="width: @Model.TwoStarPercentage%"></div>
        </div>
    </div>
    <div class="col-2 ps-0 d-flex align-items-center justify-content-end">
        <p class="customer-review-score m-0">@Model.TwoStarPercentage%</p>
    </div>
</div>

@*1 star*@
<div class="row justify-content-center align-items-center mt-2">
    <div class="col-2 pe-0 d-flex align-items-center">
        <p class="customer-review-score m-0">1 star</p>
    </div>
    <div class="col-8 px-0">
        <div class="progress px-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning" style="width: @Model.OneStarPercentage%"></div>
        </div>
    </div>
    <div class="col-2 ps-0 d-flex align-items-center justify-content-end">
        <p class="customer-review-score m-0">@Model.OneStarPercentage%</p>
    </div>
</div>